body,
body * {
    margin: 0;
    padding: 0;
   
}

body {
    font-family: 'Comfortaa',
        sans-serif;
   
    
}
.center{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
    height: 40rem;
    gap: 2rem;
}
.name{
    text-align: center;
}
.bill{
    display:flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    gap: 1rem;
  
    
}

.tip,
.resulttotal,
.resulttip {
    display: inline;
    margin: 0;
    font-size: 1.5rem;
    align-items: self-start;  
    gap: 1.4rem
}
.word{
    display: inline-block;
    align-items: self-start;   
    gap: 2rem;
    line-height: 40px;
}
.word1 .word2{
    display:inline;
    justify-content: start;
    flex-direction: row;
    font-size: 1rem;
    gap: 2rem;
  
}


.rate{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    width: 20rem;
    font-size: 1rem;
    gap: 1rem;
}
.ratenumber{
    width: 15rem;
    font-size: 15px;
}
.btnresult{
    display: flex;
    flex-direction: row;
    width: 20rem;
}
.btnscaicio{
    background-color: #efefef;
    border: none;
    border-radius: 1.6rem;
    color: #424242;
    box-shadow: -6px -6px 10px #f9f9f9,
                6px 6px 10px #00000026;
    border-radius: 25px;
    font-size: 23px;
    height: 3rem;
    line-height: 30px;
    width: 20rem;
}
.btnscaicio:hover{
    box-shadow: 2px 2px 2px #f9f9f9,
    -2px -2px 2px #00000026;
}